body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top{
  height: 100vh;
  background-color: #017793;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(128, 219, 23, 0.15)
  ), url(./back.png);
  background-size: cover;
  position: relative;
  overflow: auto;
}

.About {
  
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
 
}

.myCards{
  height: 300px;
  width: 700px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  background: rgba(0, 0, 0, .25);
}

.cardsHouse{
  
}
